{% extends 'edtech_project/base.html' %}

{% load static %}

{% block head %}
    <title>Edtech project</title>
    <link rel="stylesheet" href="{% static 'edtech_project/style.css' %}">
{% endblock %}

{% block content %}
<div class="info-header">
    <h1> Learn to read Python code through practice problems </h1>
</div>

<div class="info-body">
    <p class="info">This website helps you learn how to read code. <br> <p>

    <h2 class="info-sections"> Why? </h2>

    <p class="info">There are many scholarly resources which indicate that students must be able to read code
                    before they can successfully write code (Lister et al., 2009), but that many students' ability
                    to read code lags behind their ability to write it (Denny et al., 2008). It often is not directly
                    taught in CS classes, but is a crucial skill nonetheless. </p>

    <h2 class="info-sections"> How does this website help? </h2>

    <h3 class="info-sections"> Overview </h3>
    <p class="info">
        This website generates problems that require code comprehension to solve. The Practice section
        (which you can navigate to via the navigation bar at the top), will allow you to generate problems.
        Each is intended to be solved
        with mental math, but problems may occasionally generate that require pen and paper, and in rare
        cases, a calculator. Please contact the administrator if you find code that doesn't make sense, has syntax
        errors, or cannot be solved without an IDE (too challenging or complex). <br> <br>
        If you are logged in, you can use the History section to view previously
        attempted problems. Problems only show up on the History page after they are attempted, and only the result of the first
        attempt is stored. 
    </p>

    <h3 class="info-sections"> Problem types </h3>
        <p class="info">
            Several types of problems may appear. One involves determining the output of a code snippet
            by filling in an answer box. Another focuses on completing function and class documentation
            through docstrings. A third presents a scrambled block of code that must be reordered into a
            working sequence. Detailed instructions for each problem type will appear on generation.
        </p>

    <h3 class="info-sections"> Generation options </h3>
        <p class="info">
            The Generation Options panel contains settings that can be used to tune problem length, difficulty, subject, and syntax.
            The Difficulty setting is directed related to the complexity of the syntactic structure of
            the code, so if all structures are disabled, this slider will not affect difficulty.
            Setting the "Problem length" slider to high values may increase the time it
            takes for problems to generate. Problems that match all provided structural and
            syntactical specifications may occasionally fail to generate, and increasing the Difficulty slider
            may increase this chance. If a problem fails to generate that matches your settings, the "closest"
            match will be shown.
        </p>

    <h2 class="info-sections"> Contact Info </h2>
        <p class = "info">
            Have any questions, or need to contact me about an issue you've found? I (William)
            can be reached at this email address: wkwakow@gmail.com
        </p>

</div>

{% endblock %}