{% extends 'edtech_project/base.html' %}

{% load static %}

<!DOCTYPE html>

{% block head %}
    <title>Edtech project</title>
    <link rel="stylesheet" href="{% static 'edtech_project/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="{% static 'edtech_project/js/practice.js' %}"></script>

    <!-- Defines color for highlighting -->
    <!-- START CODE FROM CHATGPT -->
    <style>
        /* drag and drop background syntax color (slightly darker than background) */
        .highlight-drag-and-drop pre code.hljs {
            background: #222223 !important; /* 222223 */
        }

        /* default background syntax color (matches website background) */
        .highlight-default pre code.hljs {
            background: #2E1F27 !important;
        }

    </style>
    <!-- END CODE FROM CHATGPT -->

{% endblock %}

{% block content %}

<!-- Instructions for generating problems, and button the opens the generation options panel -->
<div id="instructions-and-options-box">
    <h3 class="practice-description">Please use the button below to generate problems, and the options on the right to control structure and subject generation.</h3>
    <button id="options-button"> Generation Options </button>
</div>

<!-- The generation options container -->
<div id="generation-options-box">

    <!-- The panel itself -->
    <div id="generation-options-panel">

        <div id="columns">
            <!-- The structures column -->
             <!--If adding/removing a structure, "num_structures" in utilities.py must also be updated-->
            <div id="structures">
                <h3 class="options-panel-title">Structures/syntax</h3>
                <div class="checkbox-row"> <label> <input type="checkbox" name="structure" value="enumerate"> </label> Enumerate() </div>
                <div class="checkbox-row"> <label> <input type="checkbox" name="structure" value="zip"> </label> Zip() </div>
                <div class="checkbox-row"> <label> <input type="checkbox" name="structure" value="any/all"> </label> Any()/all() </div>
                <div class="checkbox-row"> <label> <input type="checkbox" name="structure" value="map/filter"> </label> Map()/filter() </div>
                <div class="checkbox-row"> <label> <input type="checkbox" name="structure" value="data-slicing"> </label> Data slicing </div>
                <div class="checkbox-row"> <label> <input type="checkbox" name="structure" value="comprehensions"> </label> List/dict comprehensions </div>
                <div class="checkbox-row"> <label> <input type="checkbox" name="structure" value="lambda-functions"> </label> Lambda functions </div>
                <div class="checkbox-row"> <label> <input type="checkbox" name="structure" value="args-and-kwargs"> </label> Args and Kwargs </div>
            </div>

            <!-- The subjects columns -->
            <div id="subjects-container">
                <h3 class="options-panel-title">Subjects</h3>
                <div id="subjects">

                    <!-- Basic subjects column -->
                    <div class="subjects-column basic-subjects">
                        <div class="checkbox-row"> <label> <input type="checkbox" name="subject" value="physics"> </label> Physics </div>
                        <div class="checkbox-row"> <label> <input type="checkbox" name="subject" value="chemistry"> </label> Chemistry </div>
                        <div class="checkbox-row"> <label> <input type="checkbox" name="subject" value="biology"> </label> Biology </div>
                        <div class="checkbox-row"> <label> <input type="checkbox" name="subject" value="earth-science"> </label> Earth science </div>
                        <div class="checkbox-row"> <label> <input type="checkbox" name="subject" value="computer-science"> </label> Computer science </div>
                        <div class="checkbox-row"> <label> <input type="checkbox" name="subject" value="math"> </label> Math </div>
                        <div class="checkbox-row"> <label> <input type="checkbox" name="subject" value="logic-and-reasoning"> </label> Logic and reasoning </div>
                        <div class="checkbox-row"> <label> <input type="checkbox" name="subject" value="linguistics"> </label> Linguistics </div>
                        <div class="checkbox-row"> <label> <input type="checkbox" name="subject" value="geography"> </label> Geography </div> 
                        <div class="checkbox-row"> <label> <input type="checkbox" name="subject" value="medicine-anatomy"> </label> Medicine/Antomy </div> 
                    </div>

                    <!-- Advanced subjects column -->
                    <div class="subjects-column advanced-subjects">
                        <div class="checkbox-row"> <label> <input type="checkbox" name="subject" value="adv-physics"> </label> Advanced physics </div>
                        <div class="checkbox-row"> <label> <input type="checkbox" name="subject" value="adv-chemistry"> </label> Advanced chemistry </div> 
                        <div class="checkbox-row"> <label> <input type="checkbox" name="subject" value="adv-biology"> </label> Advanced biology </div> 
                        <div class="checkbox-row"> <label> <input type="checkbox" name="subject" value="adv-earth-science"> </label> Advanced earth science </div> 
                        <div class="checkbox-row"> <label> <input type="checkbox" name="subject" value="adv-computer-science"> </label> Advanced CS </div> 
                        <div class="checkbox-row"> <label> <input type="checkbox" name="subject" value="adv-math"> </label> Advanced math </div>
                    </div>
                </div>
            </div>

        </div>
        
        <div id="sliders-and-presets">
            <div id="sliders-group">
                <h3 class="options-panel-title">Difficulty: </h3>
                <input type="range" id="difficulty-slider" name="difficulty-slider" min="1" max="3" value="1">
                <h3 class="options-panel-title">Problem length: </h3>
                <input type="range" id="problem-length-slider" name="problem-length-slider" min="1" max="11" value="1">
            </div>

            <div id="presets-group">
                <h3 class="options-panel-title">Presets: </h3>
                <div id="presets">
                    <button class="preset-button" id="preset-easy" onclick="applyPreset('easy')"> Easy </button>
                    <button class="preset-button" id="preset-medium" onclick="applyPreset('medium')"> Medium </button>
                    <button class="preset-button" id="preset-hard" onclick="applyPreset('hard')"> Hard </button>
                </div>
            </div>
        </div>
        
    </div>
</div>

<br>

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

<!--START CODE FROM CHATGPT-->
<!-- 
{% csrf_token %}
<button class="button-difficulty" id="button-easy" data-difficulty="Easy" onclick="handleButtonPress('Easy')"> Easy </button>
{% csrf_token %}
<button class="button-difficulty" id="button-medium" data-difficulty="Medium" onclick="handleButtonPress('Medium')"> Medium </button>
{% csrf_token %}
<button class="button-difficulty" id="button-hard" data-difficulty="Hard" onclick="handleButtonPress('Hard')"> Hard </button>
-->

{% csrf_token %}
<button class="button-generate" id="button-generate" onclick="handleButtonPress()"> Generate </button>


{% csrf_token %}
<button class="reset-problem" id="reset-problem" style="visibility: hidden" onclick="handleResetProblem()"> Reset Problem</button>

<div id="chatgpt-response"></div>
<div id="skeleton-loader">
    <div class="first-skeleton"></div>
    <div class="skeleton"></div>
    <div class="skeleton"></div>
    <div class="skeleton"></div>
    <div class="indented-skeleton"></div>
    <div class="skeleton"></div>
    <div class="skeleton"></div>
    <div class="skeleton"></div>
    <br>
    <div class="first-skeleton"></div>
    <div class="skeleton"></div>
    <div class="skeleton"></div>
    <div class="indented-skeleton"></div>
    <div class="indented-skeleton"></div>
    <div class="skeleton"></div>
    <div class="skeleton"></div>
</div>
<div id="instructions"></div> <br>

<!--START CODE FROM CHATGPT-->
<input type="hidden" id="difficulty" name="difficulty" value="">
<input type="hidden" id="problem-type" name="problem-type" value="">
<input type="hidden" id="initial-response" name="initial-response" value="">
<input type="hidden" id="initial-response-raw" name="initial-response-raw" value="">
<input type="hidden" id="correct-answer" name="correct-answer" value="">


<div class="form-group form-inline" id="user-input-div" style="display: none;">
    <form method="POST" id="user-input-form" onsubmit="event.preventDefault(); submitUserAnswer();">
        <div class='user-input-line'>
            <label for="user-input" id="user-input-answer" class="practice-description">Answer: </label>
            <input type="text" id="user-input" name="user-input" size="30" required />
        </div>
<!--END CODE FROM CHATGPT-->
        <div class="submit-line">
            {% csrf_token %}
            <button id="submit-answer" type="submit">Submit</button>
            <button id="why-button" type="button" onclick="generateExplanation()">Explanation</button>
            <p id="feedback"></p>

            <div id="submit-skeleton-loader">
                <div class="submit-skeleton"></div>
                <div class="submit-skeleton-short"></div>
            </div>
            
        </div>

        <p id="explanation"></p>

        <div id="explanation-skeleton-loader">
            <div class="explanation-skeleton"></div>
            <div class="explanation-skeleton"></div>
            <div class="explanation-skeleton"></div>
            <div class="explanation-skeleton"></div>
            <div class="explanation-skeleton-short"></div>
        </div>

    </form>
</div>

<div class="hints-group" id="hints-group">
    <div class="hints-button-div">
        <form method="POST" id="hints-form" onsubmit="event.preventDefault(); generateHint()">
            {% csrf_token %}
            <button id="hints-button" type="submit">Get a hint!</button>
        </form>
    </div>

    <div class="hints-text-div">
        <p id="hints"> </p>
    </div>

    <div id="hints-skeleton-loader">
        <div class="hints-skeleton"></div>
        <div class="hints-skeleton"></div>
        <div class="hints-skeleton-short"></div>
    </div>
    
</div>

{% endblock %}

<!-- General explanation for flow of code:
-User navigates to /practice/, which renders the practice.html page
-User clicks a difficulty button
-fetchChatGPTResponse() is run which sends the request to the /practice/
-urls.py matches /practice/ with a function in views.py (practice()) which is then run
-Python code queries ChatGPT, retrieves and validates output
-A JsonResponse() is returned to the frontend with relevant variables
-Frontend processes the request and displays relevant information to the user
-->